server:
  port: 9090
  use-forward-headers: true
  forward-headers-strategy: NATIVE
  tomcat:
    internal-proxies: .*

logging:
  level:
    org.apache.coyote.http11.Http11InputBuffer: DEBUG
    org.springframework.security: DEBUG

azure:
  activedirectory:
    client-id: <Replace-with-your-WebApp-Client-ID>
    client-secret: <Replace-with-your-WebApp-Client-Secret>
    tenant-id: <Replace-with-your-tenant-ID>
    authorization-clients:
      graph:
        scopes:
          - User.Read
          - Directory.Read.All
      myregistrationid:
        scopes:
          - <Replace-with-your-WebApi-URI-application-ID>/User.Read
    post-logout-redirect-uri: http://localhost

webapp:
  registered-endpoints:
    webapi: http://web-api:9091/admin
